tr
	td
		h5 Make:
	td
		legend 
			input(type="text" disabled name="upMake" placeholder="Make")
tr
	td
		h5 Chassis Number:
	td
		legend 
			input(type="text" disabled name="upChassisNumber" placeholder="Chassis Number")
tr
	td
		h5 Vin:
	td
		legend 
			input(type="text" disabled name="upVin" placeholder="Vin")
tr
	td
		h5 Vehicle Owner:
	td
		legend 			
			select#allCustomers
tr
	td
		h5 Dealer:
	td
		legend 			
			input(type="text" disabled name="upDealer" placeholder="")
tr
	td
		h5 License Plate Number:
	td
		legend 
			input(type="text" name="upLicensePlateNumber" placeholder="License Plate Number")
tr#partsPanelTR(style="display:none;")
	td
		h5 Parts:
	td
		legend(style="display:none;")
			select#selectedParts(style="float:left;text-align:left;")
			div#upParts(style="float:left;text-align:left;margin-left:6px; padding:5px;border:solid 1px #ccc;float:left;")			
		legend(style="display:block;")
			input(type="text" name="upPartId" placeholder="Part Id")
			button(type="button" style="margin:5px" )#btnAddPart
				span Add
			br
			div#upPartsAddedBySC(style="float:left;text-align:left;margin-left:-2px;padding:5px;border:solid 0px #ccc;float:left;")			
	
				
tr
	td
		h5 Warranty Start Date:
	td
		legend 
			input(type="date" name="upWarrantyStartDate" placeholder="Warranty Start Date")
tr
	td
		h5 Warranty End Date:
	td
		legend 
			input(type="date" name="upWarrantyEndDate" placeholder="Warranty End Date")
tr
	td
		h5 Date of Manufacture:
	td
		legend 
			input(type="date" disabled name="upDateOfManufacture" placeholder="Date of Manufacture")
tr
	td
		h5 Date of Delivery:
	td
		legend 
			input(type="date" name="upDateofDelivery" placeholder="Date of Delivery")
tr
	td#createPartBut(colspan="2" style="font-size:12px;")
		legend
			button(type="button" style="margin:10px 10px 5px 10px" )#updateVehicle
				span.fa.fa-plus &nbsp;&nbsp;
				span SUBMIT
tr
	td
		h5 
	td
		legend 			
			input(type="hidden" disabled name="upVehicleId" placeholder="upVehicleId")